.storage-blocking-modal {
    pointer-events: all;
}

.o_storage_block {
    text-align: center;
    padding: 40px;
}

.modal-backdrop {
    opacity: 0.95 !important;
}

/* Disable everything behind popup */
body:has(.storage-blocking-modal) {
    overflow: hidden;
}
